<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <div class="sidebar-head">
      <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Elearning</span></h3>
    </div>
    <ul class="nav" id="side-menu">
      <li style="padding: 70px 0 0;">
        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
      </li>
      <li>
        <a href="profile.html" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Classes</a>
      </li>
      <li>
        <a href="basic-table.html" class="waves-effect"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>Trainees</a>
      </li>
      <li>
        <a href="fontawesome.html" class="waves-effect"><i class="fa fa-cubes fa-fw" aria-hidden="true"></i>Exam Structures</a>
      </li>
      <li>
        <a href="fontawesome.html" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Accounts</a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect" do %>
          <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout
        <% end %>
      </li>
    </ul>
  </div>
</div>
